@charset "utf-8";

body {
    background: lightcyan;
    width: 80%;
    min-width: 660px;
    max-width: 960px;
    font-family: 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 70%;
}